body {
  background-image: url("../img/bg-image-2.png"), url("../img/bg-image.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: contain, cover;
  background-position: center 400px, 0 0;
}

.pizza__top-list {
  height: 100px;
  overflow-y: scroll;
}

.pizza__top-list::-webkit-scrollbar {
  width: 5px;
}

.pizza__top-list::-webkit-scrollbar-track {
  background: #888;
}

.pizza__top-list::-webkit-scrollbar-thumb {
  background: #f1f1f1;
}


.pizza-more-list {
  height: 40px;
  overflow-y: scroll;
}

.pizza-more-list::-webkit-scrollbar {
  width: 5px;
}

.pizza-more-list::-webkit-scrollbar-track {
  background: #888;
}

.pizza-more-list::-webkit-scrollbar-thumb {
  background: #f1f1f1;
}